C:\Users\USER\Downloads\Desktop\ML\python\1lesson(codebasics)\.pytest_cache
C:\Users\USER\Downloads\Desktop\ML\python\1lesson(codebasics)\__pycache__
C:\Users\USER\Downloads\Desktop\ML\python\1lesson(codebasics)\__pycache__(SYS)












